@font-face {
	font-family: "Lato";
	font-style: normal;
	font-weight: normal;
	src: url("../fonts/Lato-Reg.ttf") format("truetype");
}

@font-face {
	font-family: "Lato";
    font-style: italic;
    font-weight: normal;
    src: url("../fonts/Lato-RegIta.ttf") format("truetype");
}

body {
	background: #f1f1f1 !important;
}

@media only screen and (max-width: 767px) {
 
	body {
		-webkit-text-size-adjust: none;
		-ms-text-size-adjust: none;
		width: 100%;
		min-width: 0;
	}

	.container {
		min-width: 0;
		margin-left: 0;
		margin-right: 0;
	}

	.row {
		width: 100%;
		min-width: 0;
		margin-left: 0;
		margin-right: 0;
	}

	.row .row .column, 
  .row .row .columns {
		padding: 0;
	}

	.row .centered {
		margin-left: 0 !important;
	}

	.column, .columns {
		width: auto !important;
		float: none !important;
		margin-left: 0;
		margin-right: 0;
	}

	.column:last-child, .columns:last-child {
		margin-right: 0;
		float: none;
	}

  [	class*="column"] + 
  [class*="column"]:last-child {
		float: none;
	}

  [	class*="column"]:before {
		display: table;
	}

  [	class*="column"]:after {
		display: table;
		clear: both;
	}

  [	class^="push_"], 
  [class*="push_"], 
  [class^="pull_"], 
  [class*="pull_"] {
		margin-left: 0 !important;
	}

	.aside {
		width: 20% !important;
		float: left !important;
	}

	.content {
		width: 80% !important;
		float: left !important;
	};
}

/* To fix the grid into a different size, set max-width to your desired width */
.column, .columns {
	float: left;
	min-height: 1px;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.container {
	width: 100%;
}

.aside {
	background: #32323a;
	color: #fff;
	/*display: inline-block;*/
	font-size: 10px;
	font-family: 'Lato';
	/*float: left;*/
	min-height: 640px;
	/*max-width: 20%;*/
	width: 20%;
}

.logo {
	background: #28282e;
	display: block;
	height: 130px;
	max-height: 130px;
	width: 100%;
}

.logo a img {
	display: table;
	height: auto;
	margin: 0 auto;
	max-width: 100%;
}

.loginStatus {
	display: block;
	max-height: 230px;
}

.loginStatus a {
	border: 4px solid #3b3b43;
	border-radius: 50%;
	display: block;
	margin: 0 auto;
	position: relative;
	top: -63px;
	max-height: 123px;
	max-width: 123px;
}

.loginStatus a img {
	border: 5px solid #fff;
	display: block;
	border-radius: 50%;
	height: auto;
	width: 100%;
	-moz-box-sizing: border-box;
}

.accountName {
	display: block;
	color: #fff;
	top: -35px;
	font-size: 24px;
	font-family: 'Lato';
	position: relative;
}

.accountName li {
	display: block;
	text-align: center;
}

.accountName li:last-child {
	display: block;
	font-size: 16px;
	font-style: italic;
	text-align: center;
	text-transform: capitalize;
}

.SideNav {
	display: block;
}

.SideNav ul li {
	border: 1px solid #3b3b43;
	display: block;
	padding: 15px 0 15px 80px;
}

.SideNav ul li:hover {
	background: #1fb5ad;
	border: 1px solid #32323a;
	display: block;
	padding: 15px 0 15px 80px;
}

.content {
	color: #000;
	min-height: 640px;
	width: 80%;
}

.topNav {
	background: none repeat scroll 0 0 #fff;
	border-bottom: 1px solid #ccc;
	display: block;
	min-height: 75px;
	width: 100%;
}

.dashboardInfo {
	clear: both !important;
	display: table;
	margin: 10px auto;
	width: 98%;
}

.dashboardName {
	color: #444444;
	font-size: 50px;
	font-family: 'Lato';
	float: left;
	padding: 5px;
	text-align: left;
	width: 70%;
}

.timeDate {
	float: right;
	width: 20%;
}

.Date,.time {
	float: left;
	height: 70px;
}

.Date {
	background: #1fbba6;
	width: 40%;
}

.time {
	background: #fff;
	width: 60%;
}

.LayoutArea {
	display: block;
	margin: 10px auto;
	width: 98%;
}

.draggableElement {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
	background: none repeat scroll 0 0 #fff;
	color: #aeaeae;
	float: left;
	font-family: "Lato";
	font-size: 12px;
	height: 287.3px;
	margin: 0 0.896% 10px 0;
	width: 24.33%;
}

.draggableElement:nth-child(4) {
	margin: 0 !important;
}

.outputTable{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
	background: none repeat scroll 0 0 #fff;
	color: #aeaeae;
	display: block;
    font-family: "Lato";
	margin: 10px auto;
	width: 98%;
}

.outputTable ul{
    display: block;
    border-bottom: 1px solid #F1F1F1;
}


.outputTable ul li {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-right: 1px solid #F1F1F1;
    display: inline-block;
    font-family: "Lato";
    font-size: 12px;
    height: 25px;
    overflow: hidden;
    padding: 5px;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 88.1px;
}

.outputTable ul:first-child {
    background: #32323A;
    border-bottom: 1px solid #F1F1F1;
    color: #fff;
    display: block;
}


.outputTable ul:first-child li {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-right: 1px solid #28282E;
    display: inline-block;
    font-family: "Lato";
    font-size: 12px;
    height: 25px;
    overflow: hidden;
    padding: 5px;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 88.1px;
}

